/*--BODY--*/
body{
    zoom:90%;
    font-family: 'Roboto Slab', serif;
    background-color: antiquewhite;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
    padding-top: 50px;
    border: 0;
}
.welcome{
    margin-top: -100px; 
    background-color: #181818;
    min-height: 100%;
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 768px;
}

/*WELCOME TYPE*/
/* Global */
.captionw{
    padding-top: 350px;
}
.line-1{
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 6px solid rgba(255,255,255,.75);
    font-size: 50%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-10%);
    font-size: 9.5em;
    color: white;
    font-family: 'Playfair Display'
}

/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(40) 1s 1 normal both,
             blinkTextCursor 900ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
/* END OF Animation type of welcome*/

h1{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 20px;
}
h2{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 40px;
}
h1, h2{
    font-family: 'Playfair Display', serif;
    color: black;
}
p{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 55px;
    padding-left: 80px;
}
/*--NAVEGATION BAR--*/
nav{
    text-decoration: none;
    background-color: white;
    color: black;
}
nav ul{
    list-style-type: none;
    margin: 0;
    padding-left:70%;
    overflow: hidden;
}
nav li{
    display: inline;
    float: left;
}
nav li a{
    display: block;
    padding: 8px;
    color: black;
}
nav a:hover{
    text-decoration: line-through;
    color: black;
}
nav a:active{
    text-decoration: line-through;
    color: red;
}
/*--PARALLAX--*/
.parallax{
    background-color: white;
}
p #text{
    float: left;
    margin-right: 30px;
}
#logo{
    float: left;
    margin: 20px;
}

/*-- SKILLS --*/
#skills{
    padding-top: 10%;
    padding-bottom: 10%;
}
/*--GALLERY--*/

.gallery{
    padding-top: 10%;
    padding-bottom: 10%;
}
img {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
.rowg {
    margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.rowg,
.rowg > .column {
    padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    display: none; /* Hide all elements by default */
}

/* Clear floats after rows */ 
.rowg:after {
    content: "";
    display: table;
    clear: both;
}

/* Content */
.content {
    background-color: white;
    padding: 10px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}
/*
.container .row1 {
    position: relative;
    width: 100%;
}

.image-responsive {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.caption {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.2;
}
.container:active .image {
    opacity: 10;
}

.container:hover .caption {
  opacity: 1;
}

row1 col-sm-4 .text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
/*--FOOTER--*/
footer{
    background-color: #181818;
    padding-top: 200px;
    padding-bottom: 20px;
    color: whitesmoke;
}
footer h1{
    color: whitesmoke;
}
footer h2{
    color: whitesmoke;
}
.parallax-inner #footer{
    padding-top: 20%;
    padding-bottom: 10%;
}
#footer{
}